/* 
	Table of Contents
	update on Fri Feb 19 2016 15:57:39 GMT+0200 (FLE Standard Time)

	I.   Generic --------------------------------------
	     01. Reset ------------------------------------
	     02. Base -------------------------------------
	         Mobile -----------------------------------
	         Small Mobile -----------------------------
	     03. Helpers ----------------------------------
	         Clear ------------------------------------
	         Notext -----------------------------------
	         Hidden -----------------------------------
	         Alignleft --------------------------------
	         Alignright -------------------------------
	         Disabled ---------------------------------
	II.  Regions --------------------------------------
	     01. Footer -----------------------------------
	         Tablet Landscape -------------------------
	         Tablet Portrait --------------------------
	     02. Wrapper ----------------------------------
	         Mobile -----------------------------------
	III. Modules --------------------------------------
	     01. Apps -------------------------------------
	         Small Desktop ----------------------------
	         Tablet Landscape -------------------------
	         Tablet Portrait --------------------------
	         Mobile -----------------------------------
	         Small Mobile -----------------------------
	         Smaller Mobile ---------------------------
	         Retina -----------------------------------
	     02. Button -----------------------------------
	         Button Block -----------------------------
	     03. Form Elements ----------------------------
	     04. List -------------------------------------
	     05. List Clients -----------------------------
	         Tablet Landscape -------------------------
	         Mobile -----------------------------------
	     06. Logo -------------------------------------
	         Tablet Landscape -------------------------
	         Tablet Portrait --------------------------
	         Mobile -----------------------------------
	     07. Section ----------------------------------
	         Tablet Landscape -------------------------
	         Tablet Portrait --------------------------
	         Mobile -----------------------------------
	         Smaller Mobile ---------------------------
	IV.  Themes ---------------------------------------
	     01. Android OS fixes -------------------------
	     02. fullpage.js theme ------------------------
	         Tablet Landscape -------------------------
	         Tablet Portrait --------------------------
	         Mobile -----------------------------------
 */

.ico-chevron-down { background-image: url(../css/images/sprite.png); background-position: 0 -33px; width: 48px; height: 36px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-gangverk { background-image: url(../css/images/sprite.png); background-position: -52px -33px; width: 29px; height: 29px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-logo { background-image: url(../css/images/sprite.png); background-position: 0 0; width: 201px; height: 29px; display: inline-block; vertical-align: middle; font-size: 0; }

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	.ico-chevron-down { background-image: url(../css/images/sprite.@2x.png); background-position: 0 -31px; background-size: 201px 67px; width: 48px; height: 36px; display: inline-block; vertical-align: middle; font-size: 0; }
	.ico-gangverk { background-image: url(../css/images/sprite.@2x.png); background-position: -50px -31px; background-size: 201px 67px; width: 29px; height: 29px; display: inline-block; vertical-align: middle; font-size: 0; }
	.ico-logo { background-image: url(../css/images/sprite.@2x.png); background-position: 0 0; background-size: 201px 67px; width: 201px; height: 29px; display: inline-block; vertical-align: middle; font-size: 0; }
}

/* ------------------------------------------------------------ *\
	I.   Generic
\* ------------------------------------------------------------ */

/* ------------------------------------------------------------ *\
	Reset
\* ------------------------------------------------------------ */

*,
*:before,
*:after { padding: 0; margin: 0; outline: 0; box-sizing: border-box; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, main { display: block; }

html,
body { height: 100%; }

html { tap-highlight-color: rgba(0,0,0,0); }

body { -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; font-smoothing: antialiased; -webkit-text-size-adjust: none; -ms-text-size-adjust: none; text-size-adjust: none; }

img, iframe, video, audio, object { max-width: 100%; }
img, iframe { border: 0 none; }
img { height: auto; display: inline-block; vertical-align: middle; }

b,
strong { font-weight: bold; }

address { font-style: normal; }

svg:not(:root) { overflow: hidden; }

a,
button,
input[type="submit"],
input[type="button"],
input[type="reset"],
input[type="file"],
input[type="image"],
label[for] { cursor: pointer; }

a[href^="tel"],
button[disabled],
input[disabled],
textarea[disabled],
select[disabled] { cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner { padding: 0; border: 0; }

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea,
a[href^="tel"] { -webkit-appearance: none; -moz-appearance: none; appearance: none; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button { display: none; -webkit-appearance: none; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

textarea { overflow: auto; resize: none; -webkit-overflow-scrolling: touch; overflow-scrolling: touch; }

button,
input,
optgroup,
select,
textarea { font-family: inherit; font-size: inherit; color: inherit; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; font-smoothing: antialiased; }

button,
select { text-transform: none; }

table { width: 100%; border-collapse: collapse; border-spacing: 0; }

nav ul,
nav ol { list-style: none outside none; }

/* ------------------------------------------------------------ *\
	Base
\* ------------------------------------------------------------ */

body { font-family: 'Work Sans', sans-serif; font-size: 16px !important; line-height: 1.3; color: #8b8b8b; font-weight: 400; font-style: normal; text-transform: none; text-decoration: none; letter-spacing: 0; word-spacing: 0; min-width: 320px; background: #f2f2f2; }

a { color: #008eff; text-decoration: none; }
a:hover { text-decoration: underline; }

a[href^="tel"],
a[href^="tel"]:hover { text-decoration: none; }

h1,
h2 { font-size: 26px; }

h3 { font-size: 24px; }
h4 { font-size: 20px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }

h1,
h2,
h3,
h4,
h5,
h6 { font-family: 'Raleway', sans-serif; color: #5c5c5c; font-weight: 400; margin-bottom: 0.65em; }

p,
ul,
ol,
dl,
table,
blockquote { margin-bottom: 1.3em; }

h1[class],
h2[class],
h3[class],
h4[class],
h5[class],
h6[class],
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child,
ul:last-child,
ol:last-child,
dl:last-child,
table:last-child,
blockquote:last-child { margin-bottom: 0; }

/* Mobile */

@media (max-width: 767px) {
	h1,
	h2 { font-size: 24px; }
}

/* Small Mobile */

@media (max-width: 376px) {
	body { font-size: 14px !important; }

	h1,
	h2 { font-size: 20px; }
}

@media only screen and ( max-width: 320px ) and ( max-height: 400px ) {
	h1,
	h2 { font-size: 17.6px; }
}

/* ------------------------------------------------------------ *\
	Helpers
\* ------------------------------------------------------------ */

/*  Clear  */

.clear:after { content: ''; line-height: 0; display: table; clear: both; }

/*  Notext  */

.notext { white-space: nowrap; text-indent: 100%; text-shadow: none; overflow: hidden; }

/*  Hidden  */

[hidden],
.hidden { display: none; }

/*  Alignleft  */

.alignleft { float: left; }

/*  Alignright  */

.alignright { float: right; }

/*  Disabled  */

[disabled],
.disabled { cursor: default; }

/* ------------------------------------------------------------ *\
	II.  Regions
\* ------------------------------------------------------------ */

/* ------------------------------------------------------------ *\
	Footer
\* ------------------------------------------------------------ */

.footer { font-size: 14px; width: 49%; width: calc(50% - 20px); position: absolute; bottom: 20px; left: 20px; z-index: 3; padding: 0 0 33px 41px; background-color: #f2f2f2; }
.footer p { margin: 0; }
.footer p + p { margin-top: 8px; }

/* Tablet Landscape */

@media (max-width: 1200px) {
	.footer { padding: 0 0 19px 20px; }
}

/* Tablet Portrait */

@media (max-width: 1023px) {
	.footer { width: 99%; width: calc(100% - 40px); display: none; bottom: 50%; padding-left: 31px; margin-bottom: 10px; }
}

/* ------------------------------------------------------------ *\
	Wrapper
\* ------------------------------------------------------------ */

.wrapper { position: relative; z-index: 1; }

.wrapper-frame:before,
.wrapper-frame:after,
.wrapper-frame-inner:before,
.wrapper-frame-inner:after { content: ''; position: absolute; z-index: 2; background-color: #fff; }

.wrapper-frame:before,
.wrapper-frame-inner:before { height: 20px; left: 0; right: 0; }

.wrapper-frame:after,
.wrapper-frame-inner:after { width: 20px; top: 0; bottom: 0; }

.wrapper-frame:before { top: 0; }
.wrapper-frame-inner:before { bottom: 0; }

.wrapper-frame:after { left: 0; }
.wrapper-frame-inner:after { right: 0; }

.wrapper-fullsize { background-repeat: no-repeat; background-position: 50% 50%; background-size: cover; }

/* Mobile */

@media (max-width: 767px) {
	.wrapper-frame:before, 
	.wrapper-frame-inner:before { height: 10px; }

	.wrapper-frame:after,
	.wrapper-frame-inner:after { width: 10px; }
}

/* ------------------------------------------------------------ *\
	III. Modules
\* ------------------------------------------------------------ */

/* ------------------------------------------------------------ *\
	Apps
\* ------------------------------------------------------------ */

.apps { width: 309px; height: 582px; position: absolute; bottom: 20%; left: 50%; z-index: 4; padding: 71px 23px 111px 61px; margin-left: -183px; background: url(images/temp/app.png) no-repeat 0 0; background-size: 100%; -webkit-background-size: 100%; -webkit-transform: translateY(200%) rotateZ(0deg); transform: translateY(200%) rotateZ(0deg); transition: margin .7s ease-out, -webkit-transform .7s ease-out; transition: margin .7s ease-out, transform .7s ease-out; -webkit-transform-origin: 50% 50%; -ms-transform-origin: 50% 50%; transform-origin: 50% 50%; pointer-events: none; }
.apps-visible { -webkit-transform: translateY(0%) rotateZ(0deg); transform: translateY(0%) rotateZ(0deg); }
.apps-rotated { margin-left: -142px; -webkit-transform: translateY(0%) rotateZ(-90deg); transform: translateY(0%) rotateZ(-90deg); }

.apps-inner { position: absolute; top: 71px; left: 61px; right: 23px; bottom: 111px; overflow: hidden; }
.apps-list { height: 100%; -webkit-transform: translateX(0%); -ms-transform: translateX(0%); transform: translateX(0%); transition: -webkit-transform .7s ease .2s; transition: transform .7s ease .2s; }

.app { height: 100%; }
.app img { width: 100%; display: block; }

/* Small Desktop */

@media (max-width: 1440px) {
	.apps { width: 245px; height: 461px; padding: 56px 19px 88px 49px; margin-left: -139px; }
	.apps-rotated { margin-left: -100px; }

	.apps-inner { top: 57px; left: 49px; right: 19px; bottom: 88px; }
}

/* Tablet Landscape */

@media (max-width: 1200px) {
	.apps { left: 75%; bottom: 18%; }
}

/* Tablet Portrait */

@media (max-width: 1023px) {
	.apps { width: 309px; height: 582px; padding: 71px 23px 111px 61px; bottom: 50%; margin: 0 0 -25px -163px; }
	.apps-visible { -webkit-transform: translateY(50%) rotateZ(0deg); transform: translateY(50%) rotateZ(0deg); }
	.apps-rotated { -webkit-transform: translateY(60%) rotateZ(-90deg); transform: translateY(60%) rotateZ(-90deg); margin-left: -326px; }

	.apps-inner { top: 71px; left: 61px; right: 23px; bottom: 111px; }
}

/* Mobile */

@media (max-width: 767px) {
	.apps { width: 180px; height: 339px; left: 50%; bottom: 0%; padding: 41px 13px 65px 36px; margin: 0 0 0 -100px; }
	.apps-visible { -webkit-transform: translateY(0%) rotateZ(0deg); transform: translateY(0%) rotateZ(0deg); }
	.apps-rotated { -webkit-transform: translateY(-33%) rotateZ(-90deg); transform: translateY(-33%) rotateZ(-90deg); margin-left: -76px; }

	.apps-inner { top: 41px; left: 36px; right: 13px; bottom: 65px; }
}

/* Small Mobile */

@media (max-width: 376px) {
	.apps { width: 150px; height: 283px; bottom: 0%; padding: 34px 11px 55px 30px; margin-left: -81px; }
	.apps-rotated { -webkit-transform: translateY(-34.5%) rotateZ(-90deg); transform: translateY(-34.5%) rotateZ(-90deg); margin-left: -65px; }

	.apps-inner { top: 34px; left: 30px; right: 11px; bottom: 55px; }
}

/* Smaller Mobile */

@media (max-width: 360px) {
	.apps { width: 130px; height: 245px; padding: 30px 10px 47px 26px; margin-left: -74px; }
	.apps-rotated { -webkit-transform: translateY(-22%) rotateZ(-90deg); transform: translateY(-22%) rotateZ(-90deg); margin-left: -56px; }

	.apps-inner { top: 30px; left: 26px; right: 10px; bottom: 47px; }
}

@media only screen and ( max-width: 320px ) and ( max-height: 400px ) {
	.apps { bottom: -10px; }
	.apps-rotated { -webkit-transform: translateY(-15%) rotateZ(-90deg); transform: translateY(-15%) rotateZ(-90deg); margin-left: -56px; }
}

@media only screen and ( max-width: 768px ) and ( orientation: landscape ) {
	.apps { display: none; }
}
	
/* Retina */

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	.apps { background-image: url(images/temp/app@2x.png); background-size: 100%; -webkit-background-size: 100%; }
}

/* ------------------------------------------------------------ *\
	Button
\* ------------------------------------------------------------ */

.btn { display: inline-block; vertical-align: middle; -webkit-appearance: none; -moz-appearance: none; appearance: none; }

/*  Button Block  */

.btn-block { display: block; padding-left: 0; padding-right: 0; }

/* ------------------------------------------------------------ *\
	Form Elements
\* ------------------------------------------------------------ */

input::-webkit-input-placeholder { color: inherit; opacity: 1; }

input::-moz-placeholder { color: inherit; opacity: 1; }

input:-ms-input-placeholder { color: inherit; opacity: 1; }

input::placeholder { color: inherit; opacity: 1; }
textarea::-webkit-input-placeholder { color: inherit; opacity: 1; }
textarea::-moz-placeholder { color: inherit; opacity: 1; }
textarea:-ms-input-placeholder { color: inherit; opacity: 1; }
textarea::placeholder { color: inherit; opacity: 1; }

input:-webkit-autofill { -webkit-text-fill-color: inherit !important; -webkit-box-shadow: 0 0 0 1000px #fff inset; }

/* ------------------------------------------------------------ *\
	List
\* ------------------------------------------------------------ */

[class^="list-"] { list-style: none outside none; }

/* ------------------------------------------------------------ *\
	List Clients
\* ------------------------------------------------------------ */

.list-clients { max-width: 519px; margin: auto; -webkit-transform: translateX(-3px); -ms-transform: translateX(-3px); transform: translateX(-3px); }
.list-clients img { width: 100%; height: auto; display: block; }
.list-clients li { width: 200px; float: left; padding: 23px 0; }
.list-clients li:nth-child(even) { float: right; }

/* Tablet Landscape */

@media (max-width: 1200px) {
	.list-clients { padding: 0 30px; -webkit-transform: none; -ms-transform: none; transform: none; }
}

/* Mobile */

@media (max-width: 767px) {
	.list-clients { padding: 0 20px; }
	.list-clients li { width: 50%; padding: 5px 20px; }
}

@media only screen and ( max-width: 768px ) and ( orientation: landscape ) {
	.list-clients li { width: 25%; padding: 5px; }
}

/* ------------------------------------------------------------ *\
	Logo
\* ------------------------------------------------------------ */

.logo { width: 49%; width: calc(50% - 20px); position: absolute; top: 20px; left: 20px; z-index: 3; padding: 41px 0 41px 41px; background-color: #f2f2f2; }
.logo i { display: block; }

/* Tablet Landscape */

@media (max-width: 1200px) {
	.logo { padding-left: 20px; }
}

/* Tablet Portrait */

@media (max-width: 1023px) {
	.logo { width: 99%; width: calc(100% - 40px); padding-left: 31px; }
}

/* Mobile */

@media (max-width: 767px) {
	.logo { width: calc(100% - 20px); display: none; top: 10px; left: 10px; padding: 10px 0 25px; }
}

/* ------------------------------------------------------------ *\
	Section
\* ------------------------------------------------------------ */

.section-cols,
.section-col,
.section-table,
.section-table-inner { height: 100%; }

.section-table,
.section-table-inner { width: 100%; }

.section-cols { overflow: hidden; }
.section-col { width: 50%; float: left; }

.section-scroll { width: 48px; height: 36px; position: absolute; bottom: 37px; left: 50%; z-index: 4; padding: 0; border: 0; margin-left: -24px; background: none; border-radius: 0; box-shadow: none; -webkit-appearance: none; -moz-appearance: none; appearance: none; transition: bottom .4s ease; }
.section-scroll:hover { bottom: 30px; }

.section-content { padding: 209px 59px 130px 89px; }
.section-content h2 { margin: -10px 0 5px; }
.section-content p { line-height: 1.5; max-width: 340px; }

.section-content h1,
.section-content h2 { line-height: 1.5; }

.section-media { opacity: 0; visibility: hidden; -webkit-transform: translateX(50%); -ms-transform: translateX(50%); transform: translateX(50%); transition: opacity .5s ease .5s, visibility .5s ease .5s, -webkit-transform .5s ease .5s; transition: opacity .5s ease .5s, visibility .5s ease .5s, transform .5s ease .5s; }

.section-list { background-color: #fff; }

.section-table { display: table; }
.section-table-inner { display: table-cell; vertical-align: middle; }

.section.completely .section-media { opacity: 1; visibility: visible; -webkit-transform: translateX(0%); -ms-transform: translateX(0%); transform: translateX(0%); transition-delay: 0s; }

.section-mobile-only { display: none; }
.section.section-mobile-only { display: table; }

.section .logo { position: static; top: auto; left: auto; right: auto; display: none; }

/* Tablet Landscape */

@media (max-width: 1200px) {
	.section-scroll { bottom: 26px; }

	.section-content { padding: 177px 62px 130px 52px; }
	.section-content h2 { margin-top: -2px; }
}

/* Tablet Portrait */

@media (max-width: 1023px) {
	.section-col { width: auto; height: 50%; float: none; }

	.section-content { padding: 177px 100px 130px 79px; }

	.section-media,
	.section-list { -webkit-transform: translateY(50%); -ms-transform: translateY(50%); transform: translateY(50%); }

	.section.completely .section-media,
	.section.completely .section-list { -webkit-transform: translateY(0%); -ms-transform: translateY(0%); transform: translateY(0%); }
}

/* Mobile */

@media (max-width: 767px) {
	.section-scroll { display: none; }
	.section-list { background-color: transparent; }

	.section-content { padding: 20px 20px 0 20px; }
	.section-content p { max-width: none; line-height: 1.25; }

	.section-content-separator { position: relative; }
	.section-content-separator:after { content: ''; height: 1px; display: block; position: absolute; bottom: 0; left: 20px; right: 20px; background-color: #a4a4a4; }

	.section .logo { display: block; }
	.section address { padding-top: 40px; border-top: 1px solid #a4a4a4; margin-top: 40px; }
	.section address p { margin: 0; }
}

/* Smaller Mobile */

@media (max-width: 360px) {
	.section-content { padding: 10px 10px 0; }

	.section-content h1,
	.section-content h2,
	.section-content p { line-height: 1.25; }

	.section-cols-adjust .section-content p { font-size: 12px; margin-bottom: 5px; }
}

@media only screen and ( max-width: 320px ) and ( max-height: 400px ) {
	.section .logo { padding: 0 0 10px; }
	.section-content { padding: 10px 10px 0; }
}

/* ------------------------------------------------------------ *\
	IV.  Themes
\* ------------------------------------------------------------ */

/* ------------------------------------------------------------ *\
	Android OS fixes
\* ------------------------------------------------------------ */

@media (max-width: 767px) {
	.android-os .apps { bottom: 12%; }
}

@media only screen and ( max-width: 768px ) and ( orientation: landscape ) {
	.android-os body { font-size: 12px !important; line-height: 1.25; }

	.android-os h1,
	.android-os h2 { font-size: 16px; }
}

/* ------------------------------------------------------------ *\
	fullpage.js theme
\* ------------------------------------------------------------ */

.fp-section.fp-table.section-mobile-only { display: none; }
.fp-section.fp-table.section.section-mobile-only { display: table; }

.fp-tableCell { padding: 20px; }

#fp-nav.left { top: 224px; left: 58px; margin-top: 0 !important; }

#fp-nav ul li { width: 14px; height: 14px; margin: 11px 0; }
#fp-nav ul li a span { width: 10px; height: 10px; top: 0; left: 0; right: 0; bottom: 0; margin: auto; background: #a4a4a4; }
#fp-nav ul li a span:before { content: ''; width: 6px; height: 6px; display: none; position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto; background-color: #008eff; border-radius: 50%; }

#fp-nav ul li:hover a span,
#fp-nav ul li a:hover span { width: 14px; height: 14px; background: #cbcbcb; margin: auto; }

#fp-nav ul li a.active span,
#fp-nav ul li a.active:hover span,
#fp-nav ul li:hover a.active span { width: 14px; height: 14px; margin: auto; background: #cbcbcb; }

#fp-nav ul li a.active span:before { display: block; }

/* Tablet Landscape */

@media (max-width: 1200px) {
	#fp-nav.left { top: 193px; left: 40px; }
}

/* Tablet Portrait */

@media (max-width: 1023px) {
	#fp-nav.left { left: 51px; }

	.fp-viewing-0 .footer,
	.fp-viewing-4 .footer { display: block; }
}

/* Mobile */

@media (max-width: 767px) {
	#fp-nav { display: none; }

	.fp-viewing-0 .footer,
	.fp-viewing-4 .footer { display: none; }

	.fp-tableCell { padding: 10px; }
}
